<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://db.onlinewebfonts.com/c/23c0fcab84d99da0de762de7e220a6e1?family=Europa+Regular" rel="stylesheet">
    <link rel="stylesheet" href="/style/all.css">
</head>
<body>
    <header>
        <div class="head-logo">
            <img src="/img/Decode Blog.png" alt="">
        </div>
        <div class="head-search">
            <input type="text" placeholder="Поиск по блогам" name="" id="">
            <button><img src="/img/icons/search.svg" alt="">Найти</button>
        </div>
        <div class="head-buttons">
            <a href=""><button>Регистрация</button></a>
            <a href=""><button>Вход</button></a>
        </div>
    </header>