
    <header class="shadow-sm p-3 mb-5 bg-white rounded">
        <a href="/">
            <div class="head-logo">
            <img src="/img/Decode Blog.png" alt="">
        </div></a>
        
        <form class="head-search">
            <input type="text" placeholder="Поиск по блогам" name="search" id="">
            <button><img src="/img/icons/search.svg" alt="">Найти</button>
        </form>
        <div class="head-buttons">
            <% 
                if(user._id){
            %>
                    <a class="profile-a" style="background-color: none;" href="/my-blog/<%= user._id %>">
                        <img src="/img/avatar.jpeg" alt="" class="profile">
                    </a>                    
                    <a href="/api/signout" class="logout-btn" >Выход</a>
            <%
                } else { 
            %>
                <a class="blue-a" href="/registration"><button>Регистрация</button></a>
                <a class="blue-a" href="/login"><button>Вход</button></a>
            <%        
                }
            %>
            
        </div>
    </header>   