
    <header class="shadow-sm p-3 mb-5 bg-white rounded">
        <a href="/">
            <div class="head-logo">
            <img src="/img/Decode Blog.png" alt="">
        </div></a>
        
        <div class="head-search">
            <input type="text" placeholder="Поиск по блогам" name="" id="">
            <button><img src="/img/icons/search.svg" alt="">Найти</button>
        </div>
        <div class="head-buttons">
            <a href="/registration"><button>Регистрация</button></a>
            <a href="/login"><button>Вход</button></a>
        </div>
    </header>   