<div class="logout">
    <% 
        if(user._id){
    %>
            <a class="profile-a" style="background-color: none;" href="/my-blog/<%= user._id %>">
                
            </a>                    
    <%
        } else { 
    %>
        <a class="blue-a" href="/registration"><button>Выход</button></a>
        // <a class="blue-a" href="/login"><button>Вход</button></a>
    <%        
        }
    %>
    
</div>