<%- include('../views/partials/header.ejs') %>
    <div class="index-container">
        <div class="index-blogs shadow p-3 mb-5 bg-white rounded">
            <h3>Блоги по программированию</h3>
            <p>Популярыне и лучшие публикации по программированию для начинающих и профессиональных программистов и IT-специалистов.</p>
            <img src="/img/image 1.svg" alt="">
            <div class="index-blogs-container">
                <h4 class="left">Обзор Report Manager от Webix</h4>
            
                <span class="left">Осень 2020 года стала плодотворным временем для специалистов Webix. </span>
                <span class="left">Команда Webix выпустила восьмую версию библиотеки пользовательского интерфейса Webix с двумя новыми комплексными виджетами. Первый - зто Scheduler, о котором мы подробно говорили ранее. Второй виджет - это Gantt chart в JavaScript. Подробную информацию об этом виджете Вы можете найти в статье. </span>
                <span class="left">Ноябрь продолжает тенденцию, и мы спешим поделиться с Вами новым комплексным виджетом Report Manager. Давайте рассмотрим его</span>
            </div>
            <div class="index-blogs-data">
                <img class="date" src="/img/icons/date-index.svg" alt="">
                <img class="views" src="/img/icons/views-index.svg" alt="">
                <img class="comments" src="/img/icons/comments-index.svg" alt="">
                <img class="category" src="/img/icons/category-index.svg" alt="">
                <img class="author" src="/img/icons/author-index.svg" alt="">
            </div>
        </div>
        
        <div class="index-category shadow p-3 mb-5 bg-white rounded">
            <h3>Категории</h3>
            <a href="">Прогнозы в IT</a>
            <div class="line"></div>
            <a href="">Веб-разработка</a>
            <div class="line"></div>
            <a href="">Мобильная разработка</a>
            <div class="line"></div>
            <a href="">Фриланс</a>
            <div class="line"></div>
            <a href="">Алгоритмы</a>
            <div class="line"></div>
            <a href="">Тестирование IT систем</a>
            <div class="line"></div>
            <a href="">Разработка игр</a>
            <div class="line"></div>
            <a href="">Дизайн и юзабилити</a>
            <div class="line"></div>
            <a href="">Искуственный интелект</a>
            <div class="line"></div>
            <a href="">Машинное обучение</a>
            <div class="line"></div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>