<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
<%- include('../views/partials/head.ejs') %>
</head>
<body>    
    <%- include('../views/partials/header.ejs') %>
    <div class="container-login">
        <span>Вход</span>
        <div class="login-box">
            <form action="/api/signin" method="POST">
                <input type="text" placeholder="Введите email" name="email">
                <input type="text" placeholder="Введите пароль" name="password">
                <button>Войти</button>
            </form>
            
        </div>
    </div>
</body>
</html>