<!DOCTYPE html>
<html lang="en">
    <title>Document</title>
<head>
<%- include('../views/partials/head.ejs') %>
<%- include('../views/partials/header.ejs') %>
</head>
<body>    
    <div class="container-login">
        <span>Вход</span>
        <div class="login-box">
            <input type="text" placeholder="Введите email">
            <input type="text" placeholder="Введите пароль">
            <button>Войти</button>
        </div>
    </div>
</body>
</html>