<%- include('../views/partials/header.ejs') %>
    <div class="container-login">
        <span>Регистрация</span>
        <div class="login-box">
            <input type="text" placeholder="Введите email">
            <input type="text" placeholder="Введите полное имя">
            <input type="text" placeholder="Введите пароль">
            <input type="text" placeholder="Подтвердите пароль">
            <button>Зарегистрироваться</button>
        </div>
    </div>
</body>
</html>