.index-container{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding: 0 30px;
    gap: 30px;
}
.index-blogs{
    width: 80%;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    padding: 50px;
    padding-bottom: 300px;
}
.index-blogs-container{
    display: flex;
    flex-direction: column;
}
.index-blogs h3{
    font-size: 30px;
    font-weight: 800;
    margin: 30px;

}
.index-blogs p{
    font-size: 20px;
    text-align: center;

}
.index-blogs img{
    margin: 30px;
    width: 600px;
}
.index-h3 h4{
    font-size: 20px;
    font-weight: 400;
    margin: 30px 15px;
    /* display: flex; */
    /* justify-content: start; */
    /* text-align: left; */
}
.index-h3{
    display: flex;
    justify-content: space-between;
}
.edit-content{
    width: 5%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-right: 65px;
}
.edit-content img{
    height: 15px;
    width: 5px;
    margin: 0;
    
}
.edit-content p{
    margin: 0;
    font-size: 15px;
}
.index-blogs-container span{
    font-size: 17px;
    margin: 15px;
    display: flex;
    text-align: left;
}
.left{
    text-align: left;
}

.index-blogs-data{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
    padding-left: 65px;
    padding-right: 50px;
}
.index-blogs-data-2{
    padding-bottom: 180px;
}
/* размер картинки по классу */
img.date{  
    width: 100px;
}
img.views{  
    width: 50px;
}
img.comments{  
    width: 40px;
}
img.category{  
    width: 140px;
}
img.author{  
    width: 100px;
}
/* Категории */
.index-category h3{
    font-size: 30px;
    margin-bottom: 35px;
}
.index-category{
    width: 20%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 500px;
    /* height: 55vh; */
}

.blog-h3{
    display: flex;
    justify-content: center;
}
.blog-h3 h3{
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin: 0 auto;
    margin-top: 30px;
}
.index-category p{

    font-size: 15px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
}
.blog-btn{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}
.blog-btn a{
    display: flex;
    align-items: center;
    text-align: center;
    padding: 8px 8px;
    border: 1px #00A2DC solid;
    color: #fff;
    border-radius: 3px;
    background-color: #00A2DC;
    margin: auto;
    font-size: 15px;

}   

.img3{
    /* margin: 30px; */
    width: 600px; 
    height: 318px;
}
.avatar{
    width: 170px;
    height: 170px;
    margin: 0 auto;
    border-radius: 50%;
}