.container-registration {
    padding: 0px 50px;
    
}
.container-registration span {
    font-size: 30px;
    font-weight: 800;
    margin-top: 100px;
}
.registration-box{
    
    margin-top: 40px;
    gap: 25px;
    width: 700px;
}
.registration-box input{
    
    width: 100%;
    padding: 5px;
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    /* outline: none; */
    
}
.registration-box button{
    /* width: 100%; */
    width: 130px;
    height: 40px;
    
    background-color: #00A2DC;
    color: #fff;
    border: none;
    border-radius: 3px;
}
.textarea{
    display: flex;
    margin: 0 50px;
    flex-direction: column;
}
.textarea button {
    width: 100px;
    height: 25px;
}
.form-control{
   
    margin: 50px;
    width: 60%;
    margin: 20px 0;
    
}
.yellow-btn{
    width: 40%;
}
.yellow-btn input{
    margin-top: 20px;
    width: 280px;
    height: 40px;
    background-color: #FFF72F;
    color: #000;
}
.new-blog-description {
    height: 250px;
}
.form-select {
    color: #000;
}